/* Style for the body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fcfcfc;
}

/* Style for the SVG container */
svg {
    border: 1px solid #ccc;
    display: block;
    margin: auto;
}

/* Style for the nodes (VisNode class) */
.node {
    stroke: white;
    stroke-width: 1.5px;
}

/* Style for the links between nodes (VisNode class) */
.link {
    stroke-opacity: 0.6;
}

.node text{
    stroke: none;
}

/* Style for the matrix cells (VisMatrix class) */
.matrix-cell {
    stroke: black;
}

/* Styling for matrix labels */
.matrix-label {
    font-size: 12px;
    fill: black;
    font-weight: bold;
}
