.CellBinaryYes {
    fill: green;
    stroke: darkgreen;
    stroke-width: 0.5px;
  }
  
.CellBinaryNo {
    fill: red;
    stroke: darkred;
    stroke-width: 0.5px
  }

.linkBinaryYes {
    stroke: green !important;
  }
  
.linkBinaryNo {
    stroke: red !important;
  }