/* Style for the NL nodes */
.node {
    stroke: black;
    stroke-width: 1.5px;
    fill: lightblue
}

/* Style for all types of links */
.link {
    stroke-opacity: 0.6;
    fill: none;
    stroke-width: 1;
    stroke: black;
}

/* Style for Node labels: both matrix and NL */
.label {
    fill: black;
    font-size: 6px;
    text-anchor: middle;
    word-wrap: break-word; /* Allow wrapping of text */
    white-space: normal; /* Ensure it wraps inside the cell */
    text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
}

.NL-label {
    pointer-events: none
}


/* Style for the matrix cells */
.cell {
    stroke: gray;
    stroke-width: 0.5px;
}

.cellDiagonal {
    fill: #ccc; /* Grey for diagonal */
}
  
.cellPositive {
    fill: black; /* Or any color for edges */
}
  
.cellNegative {
    fill: white; /* No edge */
}

.cellLabel {
    fill: lightblue;
    stroke: darkblue;
    stroke-width: 0.5px
}

/* Highlight the dragged node */
.highlighted {
    stroke: orange;
    stroke-width: 3px;
    fill: yellow;  /* Optional: highlight the node with a color */
}

/* Add a border around the entire matrix group */
.matrixHighlighted .cell,
.matrixHighlighted .cellLabel {
    opacity: 0.8; /* Slight opacity to emphasize highlighted matrix */
    stroke-width: 4;
}